@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  overflow-x: hidden;
}

.container{
  width: min(90vw, 1800px);
  margin-inline: auto;
}

.button{
  border-radius: 9999px;
  padding: 1rem 3rem;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  width: max-content;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
}