@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  overflow-x: hidden;
}

.container{
  width: min(90vw, 1800px);
  margin-inline: auto;
}

.button{
  border-radius: 9999px;
  padding: 1rem 3rem;
  background-color: hsl(136, 65%, 51%);
  width: max-content;
  color: #ffffff;
}
